:root {
    --primary-background-color:#D6D1BE;
    --secondary-background-color:#F3EFEA;
    --primary-text:#121212;
    --secondary-text:#4A4A4A;
    --xxlg-size: 3rem;
    --xlg-size: 1.4rem;
    --lg-size: 1.4rem;
    --md-size: 1.25rem;
    --sm-size: 1.06rem;
   --border-width: 2px;
}

@font-face{
    font-family: Maver;
    src: url(Maver.ttf);
}

h1 , h2 {
    font-family: Maver;
    font-size: var( --xxlg-size);
    line-height: 0.9;
}

* {
    font: Helvetica;
}