---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from '../components/Hero.astro';
import Sektion3 from '../components/Sektion3.astro'
import Sektion5 from '../components/Sektion5.astro'
import { Image } from 'astro:assets';
import kost from '../assets/images/kost.svg'; 
---
<body class="">
<MainLayout title="Digital Cleanup Day">
	<article>
		<section class="pt-52 lg:pt-32 lg:pb-32">
			<Hero></Hero>
		</section>

		<section class="w-full">
			<Sektion3></Sektion3>
		</section>

		<section class="w-full">
			<Sektion5></Sektion5>
		</section>

</MainLayout>