---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import thumbsup from '../assets/images/dcd.png'; 

---
<MainLayout title="Digital Cleanup Day">
	<article>
		<p>Digital Cleanup Day</p>
		<Image src={thumbsup} alt="dcd"></Image>
	</article>
</MainLayout>