---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import logo from "../assets/images/logo.svg";
---
    <a href="#">
    <Image src={logo} alt="bin" class="w-20" />
    </a>
  <Navbar>
