---
import Button from '../components/Button.astro';
---

<div>
    <h2 class="text-[#3C4A30] text-center pt-8 text-xl font-light lg:pt-10">Sortere du dit digitale skrald?</h2>
<h1 class="text-[#3C4A30] text-center pt-10">Digital skraldedag</h1>
<h3 class="text-[#3C4A30] text-2xl font-semibold text-center pt-5 pb-14 lg:pt-10 lg:pb-5">Deltag d. 14.03.2024</h3>

</div>

<div class="flex justify-center">
<Button variant="secondary" size="large">Tilmeld</Button>
</div>